html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a57d7d;
    height: 100vh;
}
#title {
    font-size: 50px;
    font-family: 'Courier New', monospace;
    color:#081d2e;
}
p {    
    font-size: 25px;
    font-family: 'Courier New', monospace; 
    color:#240c03;
}
#input {
    height: 55px;
    width: 225px;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border-width: 3px;
}
#base_from,#base_to {
    height: 40px;
    width: 165px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}
div {
    margin: 20px;
}
#convert,#reset {
    padding: 5px 25px;
    font-size: 25px;
    border-radius: 8px;
}
#result {
    font-size: 35px;
}
#output {
    height: 80px;
    width: 280px;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border-width: 3px;
}
#convert:hover,#reset:hover,#base_from:hover,#base_to:hover {
    scale:1.10;
    cursor:pointer;
}
#footer {
    display: flex;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-top:auto;
    position:relative;
    margin-top: 30px;
    margin-bottom: 0px;
}
#footer:hover .fa-spinner {
    animation: spin 0.3s linear;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #logo {
    height: 30px;
    width: auto;
}